:root {
  --bg-color: #121212;
  --text-color: #807b7b;
  --accent-color: #07cf6b;
  --content-color: #fff;

}
.BlogHeader{
    background: linear-gradient(135deg, #1e1e1e, #121212);
    padding: 0 20px;
    /* text-align: center; */
    height: 100vh;
}
.BlogPost{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
}
.BlogTitle{
    font-size: 1.5rem;
    color: var(--accent-color);
}
.BlogAuthor{
    font-size: 0.6rem;
    color: var(--text-color);
    font-style: italic;
}

.BlogFullDate{
    font-size: 0.6rem;
    color: var(--text-color);
    font-style: italic;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.BlogMeta{
    gap: 2px;
}
.BlogContent{
    font-size: 1rem;
    color: var(--content-color);
    margin-top: 20px;
}

/* Container styles */
.backButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ccc;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: color 0.3s ease;
  background-color: transparent; /* Ensures no background issues */
}

/* 1. Target the text color when the div is hovered */
.backButton:hover {
  color:var(--text-color); 
}

/* 2. Target the icon color when the div is hovered */
.backButton:hover .back {
  color: var(--text-color);
  transition: color 0.3s ease;
}